{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="container" style="padding-top: 120px; padding-bottom: 50px;" >
    
    <div style="display: flex; flex-flow: row wrap; justify-content: space-around;">
        <div class="card-product">
            <img src={{product.image.url}} style="height: 300px;">
            <h4>{{product.title}}</h4>
        </div>

        <div>
            <div class="card-text">
                <h4>DESCRIPCIÓN</h4>
                <P>{{product.descritption}}</P>             
                <h3>s/. {{product.price}}</h3>                              
                    <p>Stock: {{ product.stock }}</p>
                    {% if product.in_stock %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type='submit' class="btn btn-sm btn-primary buy-now">Add to Cart</button>
                    </form>
                    
                    {% else %}
                    <p>No hay stock</p>
                    {% endif %}
            </div>           
        </div>
    </div>
</section>

{% endblock content %}