<footer>                      
    <div class="footer-container" ng-controller="FooterCtrl">
    <div class="footer-top-content clearfix">
        <div class="menu-footer-container">
            <div class="menu-footer-item ">
                
                    <a href="#">
                        CONTACTO
                    </a>
                
            </div>
            <div class="header-top-info menu-footer-item ">
                <a href="mailto:support@gmail.com" ><i class="fa fa-envelope mr-2"></i><span>support@gmail.com</span></a>
            </div>
        </div>

        <div class="social-footer-container">
            <div class="social-footer-item">
                <a href="#" target="_blank">
                    <img class="twitter-image social-image" src="https://d25dk4h1q4vl9b.cloudfront.net/bundles/front/media/images/footer/twitter.png" alt="Twitter">
                </a>
            </div>
            <div class="social-footer-item">
                <a href="#" target="_blank">
                    <img class="youtube-image social-image" src="https://d25dk4h1q4vl9b.cloudfront.net/bundles/front/media/images/footer/youtube.png" alt="YouTube">
                </a>
            </div>
            <div class="social-footer-item">
                <a href="#" target="_blank">
                    <img class="instagram-image social-image" src="https://d25dk4h1q4vl9b.cloudfront.net/bundles/front/media/images/footer/instagram.png" alt="Instagram">
                </a>
            </div>
            <div class="social-footer-item">
                <a href="#" target="_blank">
                    <img class="facebook-image social-image" src="https://d25dk4h1q4vl9b.cloudfront.net/bundles/front/media/images/footer/facebook.png" alt="Facebook">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-legals" >
        <div class="footer-legals-inner-container clearfix">
            <div class="footer-legals-item-container">
                <div class="footer-legals-item first">
                    <a href="#" >Política de Privacidad</a>
                </div>
                <div class="footer-legals-item">
                    <a href="#" >Aviso de fraude</a>
                </div>
                <div class="footer-legals-item">
                    <a href="#" >Términos y Condiciones</a>
                </div>
                <div class="footer-legals-item">
                    <a href="#">Libro Reclamaciones</a>
                </div>
            </div>
            <div class="footer-legals-rights">
                <b>PLANTILLA CREADA POR ALEX RODRIGUEZ </b>
            </div>
        </div>
    </div>
</footer>